
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: none;
  font-size: 4rem;
}

.actived {
  display: block;
}

.btns {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: 0.3s all;
  font-size: 26px;
  border-radius: 50%;
  z-index: 10;
}

.btns:hover {
  cursor: pointer;
  opacity: 50%;
}

.containerCarrosel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease-in;
  overflow: hidden;
}

#next {
  position: absolute;
  right: 5%;
  top: 50%;
}
#prev {
  position: absolute;
  left: 5%;
  top: 50%;
}
.corGuarana {
  background-color:  #638f38;
}
.corFanta {
  background-color: #fc8102;;
}
.corCoca {
  background-color: #f40009;
}
img {
  width: 500px;
}

.containerCarrosel div:first-child img {
  width: 800px;
  + img {
    width: auto;
    height: auto;
    margin: 0 auto;
    animation: showUp;
    animation-duration: 1s;
    z-index: 0;
  }
}
.imgFrente {
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 2;
}

.showDown {
  animation-name: showDown;
  animation-duration: 1s;
}
.showUp {
  animation-name: showUp;
  animation-duration: 1s;
}

@keyframes showDown {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showUp {
  from {
    transform: translateY(150%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

img[title="logo guarana"] {
  left: 33%;
  top: -5%;
}

img[title="Guarana"] {
  margin-top: 55%;
}
img[title="Fanta Laranja"] {
  margin-top: 55%;
}
img[title="Logo Fanta Laranja"] {
  top: -5%;
  left: 33.5%;
}

@media (max-width: 440px) {
  /* Coca cola */
 .imgFrente{
  left: 6%;
  top: 35%;
 }
 .containerCarrosel div:first-child img{
  width: 350px;
 }
 /* Fanta */
 img[title="Logo Fanta Laranja"] {
  top: 3%;
  left: -1%;
  width:400px ;
}
img[title="Fanta Laranja"]{
  height: 450px;
  width: auto;
}
/* guarana */

img[title="logo guarana"] {
left:-5%;
top: -6%;
width: 430px;
}
img[title="Guarana"] {
  margin-top: 55%;
}

/* botões */
#next{
  right: 2%;
}
#prev{
  left: 2%;
}

}
