* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.title {
  display: none;
  font-size: 4rem;
}

.actived {
  display: block;
}

.btns {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: 0.3s all;
  font-size: 26px;
  border-radius: 50%;
  z-index: 20;
}

.btns:hover {
  cursor: pointer;
  opacity: 50%;
}

.containerCarrosel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease-in;
}

#next {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 20;
}

#prev {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 20;
}

.corGuarana {
  background-color: #638f38;
}

.corFanta {
  background-color: #fc8102;
  ;
}

.corCoca {
  background-color: #f40009;
}

img {
  width: 500px;
}

.containerCarrosel div:first-child img {
  width: 800px;
  +img {
    width: auto;
    height: auto;
    margin: 0 auto;
    animation: showUp;
    animation-duration: 1s;
    z-index: 0;
  }
}

.imgFrente {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.showDown {
  animation-name: showDown;
  animation-duration: 1s;
}

.showUp {
  animation-name: showUp;
  animation-duration: 1s;
}

@keyframes showDown {
  from {
    transform: translate(-50%, -150%);

  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes showUp {
  from {
    transform: translateY(150%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

img[title="logo guarana"] {
  top: 30%;
}

img[title="Guarana"] {
  margin-top: 40%;
}

img[title="Fanta Laranja"] {
  margin-top: 30%;
}

img[title="Logo Fanta Laranja"] {
  top: 30%;
}

@media (max-width: 440px) {

  /* Coca cola */
  .containerCarrosel div:first-child img {
    width: 350px;
  }

  /* Fanta */
  img[title="Logo Fanta Laranja"] {
    width: 400px;
  }

  img[title="Fanta Laranja"] {
    height: 450px;
    width: auto;
  }

  /* guarana */

  img[title="logo guarana"] {
    width: 430px;
  }

  img[title="Guarana"] {
    margin-top: 45%;
  }

  /* botões */
  #next {
    right: 0%;
    transform: translate(0, -50%);
  }

  #prev {
    left: 0%;
    transform: translate(0, -50%);
  }
}